<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href={{ url_for( 'static', filename='style.css' ) }} />
</head>

<body>
    <h1><span>Spoti-py<span></h1>
    <h2>
           <dt><p style="font-size:30px;">Song: {{music[0]}}</pi></dt>
            <dd>-By: {{music[1]}}</dd><br>
            <img src={{music[3]}} width="400" height="400">
            </h2>
            <h3>
            <audio controls>
               <source src={{music[2]}} type="audio/ogg">
            </audio>
    </h3>

</body>

</html>
